html *{
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
	font-size: 14px;
	::selection {
		background: $baseColor; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
	background: $baseColor; /* Gecko Browsers */
	}
}
.light-text{
	color: lighten($tcolor, 30%);
}
.white-c{
	color: white;
}
.no-radius{
	border-radius: 0px !important;
}
a.light-text, a.tcolor, a.white-c{
	@include transition;
	&:hover{
		color: lighten($tcolor, 60%);
		text-decoration: none;
	}
}
.no-shrink{
	@include vendorPrefix(flex-shrink, no-shrink);
}
a{
	@include transition;
}
header{
	background-color: white;
	position: relative;
	.sp-logo{
		position: absolute;
		top: 30px;
		left: 49%;
		@include vendorPrefix(transform, translateX(-50%));
	}
	.middle-header{
		padding: 35px 0 !important;
	}
	.spacer-l{
		padding-left: 200px !important;
	}
	.lang-select{
		img{
			max-width: 23px;
			height: auto;
		}
	}
	@include vendorPrefix(box-shadow, 1px 2px 3px rgba(black, 0.1));
	.menu{
		letter-spacing: 2px;
		a{
			position: relative;
			&:after{
				content: "";
				position: absolute;
				width: 0%;
				top: 110%;
				left: 0;
				height: 2px;
				@include transition;
				background-color: $baseColor;
			}
			&:hover{
				&:after{
					width: 100%;
				}
			}
			
		}
	}
}

.cat-menu{
    width: 100%;
	background: white;
	height: 0;
	overflow: hidden;
	position: absolute;
	left:0;
	top: 100%;
	z-index: 9;
	@include transition();
	.menu-items{
		a{
			color: $tcolor;
			&:hover{
				text-decoration: none;
				img{
					opacity: 0.8;
				}
			}
		}
	}
}

.la-form{
	position: relative;
	input[type="text"]{
		border: 1px solid lighten($tcolor, 60%);
		border-right: 0px;
		padding: 0 5px;
		font-size: 14px;
		&::placeholder{
			color: lighten($tcolor, 20%);
		}
		&:focus{
			outline: none;
		}
	}
	.submit-btn{
		background-color: transparent;
		color: lighten($tcolor, 20%);
		outline: none;
		border: 1px solid lighten($tcolor, 60%);
		background-color: white;
		border-left: 0px;
		&:hover{
			cursor:pointer;
		}
	}
}
.search-option{
	.la-form{
		input[type="text"]{
			border-right: 1px solid lighten($tcolor, 60%);
			border-left: 0px;
		}
	}
	.submit-btn{
		border-right: 0px;
		border-left: 1px solid lighten($tcolor, 60%);
	}
}

.rbordered{
	border-right: 1px solid lighten($tcolor, 70%);
}


// slider
.main-banner{
	height: 650px;
	@include background-utility;
	position: relative;
	.hero-content{
		position: absolute;
		top: 50%;
		left:0;
		width: 100%;
		@include vendorPrefix(transform, translateY(-50%));
	}
}

//News Letter
.call-news-letter{
	background-color: white;
}
.black-bg{
	background-color: black;
}

//featured-products
.ft-products{
	@include background-utility();
	position: relative;
	&.lht{
		height: 550px;
	}
	&.mht{
		height: 350px;
	}
}
.p-card{
	background-color: white;
	position: absolute;
	top:0;
	left:0;
}

.main-footer{
	position: relative;
	background-color: $tcolor;
	.topBtn{
		a{	
			position: fixed;
			z-index: 999;
			bottom: 20px;
			right: 20px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background-color: lighten($tcolor, 30%);
			border: none;
			color: white;
			@include transition;
			opacity: 0;
			&:hover{
				text-decoration: none;
			}
			&.active{
				opacity:1;
			}			
		}
	}
	.col-title{
		color: lighten($tcolor, 30%);
	}
	a{
		color: lighten($tcolor, 30%);
		@include transition;
		&:hover{
			color: $baseColor;
			text-decoration: none;
		}
	}
	.copy-text{
		border-top: 1px solid lighten($tcolor, 30%);
		color: lighten($tcolor, 30%);
		a{
			color: $baseColor;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.page-head{
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.article-list{
	.article-exerpt{
		@include mle($lineCount: 3);
	}
}
.article-card{
	.figure-container{
		padding-bottom: 60%;
		@include background-utility();
	}
	.card-details{
		background-color: $cardColor;
	}
	a{
		&:hover{
			text-decoration: none;
			.figure-container{
				opacity: 0.8;
			}
		}
	}
}

.article-background{
	height: 400px;
	@include background-utility($position: top);
	position: relative;
	.article-title-desc{
		position: absolute;
		width: 90%;
		margin: 0 5%;
		top: 50%;
		left:0;
		@include vendorPrefix(transform, translateY(-50%));
	}
}

.product{
	.product-image{
		padding-bottom: 100%;
		position: relative;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition();
		}		
		&:hover{
			img{
				@include vendorPrefix(transform, scale(1.1));
			}
		}
	}
	.product-infos{
		.product-title{
			max-width: 65%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.pagination{
	ul{
		text-align: center;
		width: 100%;
		padding: 0;
		margin:0;
		list-style: none;
	}
	li{
		display: inline-block;
		margin: 5px;
		&.active{
			a{
				background-color: $cardColor;
			}
		}
		a{
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			background-color: darken($cardColor, 10%);
			color: $tcolor;
			display: block;
			&:hover{
				background-color: $cardColor;
				text-decoration: none;
			}
		}
	}
}

.cat-filter{
	-webkit-backface-visibility: hidden;
	.content{
		transition: max-height 300ms ease;
		overflow: hidden;
	}
	.cat-first{
		&.open{
			& > .control{
				&:after{
					@include vendorPrefix(transform, rotateZ(180deg) translateY(50%));
				}
			}
		}
		& > .control{
			font-size: 16px;
			color: $tcolor;
			padding: 5px 15px 5px 5px;
			border-bottom: 1px solid $tcolor;
			position: relative;
			&:hover{
				cursor: pointer;
			}			
			&:after{
				content: "\f107";
				position: absolute;
				right: 8px;
				top: 50%;
				@include vendorPrefix(transform, translateY(-50%));
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include transition;
				@include vendorPrefix(transform-origin, center);
			}
		} 
	}
	.childs{
		&.open{
			& > .control{
				position: relative;
				&:after{
					@include vendorPrefix(transform, rotateZ(180deg) translateY(50%));
				}
			}
		}
		font-size: 14px;
		color: lighten($tcolor, 25%);
		padding: 5px 5px 5px 5px;
		border-bottom: 1px dashed lighten($tcolor, 25%);
		position: relative;
		&:hover{
			cursor: pointer;
		}
		& > .control{
			position: relative;
			&:after{
				content: "\f107";
				position: absolute;
				right: 3px;
				top: 50%;
				@include vendorPrefix(transform, translateY(-50%));
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include transition;
				@include vendorPrefix(transform-origin, center);
			}
			&:before{
				display: none;
			}
		}				
	}
	.gChild{
		font-size: 12px;
		color: lighten($tcolor, 45%);
		padding: 5px 5px 5px 15px;
		position: relative;
			&:after{
				content: "\f096";
				position: absolute;
				right: 3px;
				top: 50%;
				@include vendorPrefix(transform, translateY(-50%));
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include transition;
				@include vendorPrefix(transform-origin, center);
			}
			&.selected{
				&:after{
					content: "\f0c8";					
				}
			}
	}
}


//product page
.item-title{
	border-bottom: 1px solid $tcolor;
}
.base-color-bg{
	background-color: $baseColor;
	&:hover{
		background-color: darken($baseColor, 10%);
		color: white;
	}
}
.product-spefica{
	ul{
		list-style-type: square;
	}
}

.product-accordion-specfica{
	border-top: 1px solid lighten($tcolor, 30%);
	.accordion-st{
		padding: 8px 12px;
		background-color: #ffffff;
		border-bottom: 1px solid lighten($tcolor,  30%);
		&.open{
			.accordion-tr{
				&:after{
					content: "\f068";
				}
			}
		}
		.accordion-tr{
			position: relative;
			&:hover{
				cursor: pointer;
			}
			&:after{
				content: "\f067";
				position: absolute;
				color: lighten($tcolor, 40%);
				right: 3px;
				top: 50%;
				@include vendorPrefix(transform, translateY(-50%));
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include transition;
				@include vendorPrefix(transform-origin, center);
			}
		}
	}
}

.feature-slider{
	img{
		width: 100%;
	}
}
.slick-arrow{
	position: absolute;
	top: 50%;
	@include vendorPrefix(transform, translateY(-50%));
	background: none;
	border: none;
	outline: none;
	z-index: 9;
	font-size: 50px !important;
	color: white;
	&.slick-next{
		right:20px;
	}
	&.slick-prev{
		left: 20px;
	}
}
.slick-dots{
	position: absolute;
	padding:0;
	bottom: 20px;
	left: 50%;
	@include vendorPrefix(transform, translateX(-50%));
	list-style-type: none;
	margin-bottom: 0px;
	li{
		display: inline-block;
		width: 12px;
		height: 12px;		
		border-radius: 50%;
		border: 1px solid white;
		margin: 3px;
		&.slick-active{
			background-color: white;
		}
	}
	button{
		display: block;
		background: none;
		text-indent: -99999px;
		border: none;
		outline: none;
	}
}

.main-show{
	.slides{
		height: 400px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		iframe{
			width: 100%;
			height: 100%;
		}
	}
}
.nav-show{
	.slides{
		height: 80px;
		overflow: hidden;
		position: relative;
		&.slick-current{
			&:before{
				content: "";
				position: absolute;
				color: $tcolor;
				border: 2px solid $baseColor;
				width: 90%;
				height: 90%;
				left: 50%;
				top: 50%;
				@include vendorPrefix(transform, translate(-50%,-50%));
			}
		}
		&:hover{
			cursor: pointer;
		}
		&:focus{
			outline: none;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		iframe{
			width: 100%;
			height: 100%;
			display: none;
		}
		&.video{
			background-color: darken(white, 10%);
			position: relative;
			&:after{
				content: "\f04b";
				position: absolute;
				color: $tcolor;
				left: 50%;
				top: 50%;
				@include vendorPrefix(transform, translate(-50%,-50%));
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include transition;
				@include vendorPrefix(transform-origin, center);
			}
		}
	}
}
%count{
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
}
.cart-block{
	width: 100%;
	height: 100%;
	z-index: 99;
	position: fixed;
	right:0;
	top:0;
	background-color: rgba(black, 0.3);
	@include transition;
	opacity:0;
	pointer-events: none;
	
	&.open{
		opacity:1;
		pointer-events: auto;
		.cart-wrap{
			right: 0;
		}
	}
	.cart-wrap{
		position: absolute;
		right: -100%;
		top:0;
		background-color: white;
		width: 400px;
		height: 100%;
		overflow-y: auto;
		@include transition;
	}
	.cart-head{
		border-bottom: 1px solid lighten($tcolor, 60%);
		background-color: lighten(black, 10%);
		color: white;
	}
	.delivery{
		background-color: darken(white, 5%);
		border-bottom: 1px solid lighten($tcolor, 60%);
	}
	.product-info{
		border-bottom: 1px solid lighten($tcolor, 60%);
		.product-count{
			@extend %count;
			background-color: darken(white, 10%);
		}
	}
	.close-cart{
		&:hover{
			cursor: pointer;
		}
	}
	.cart-option{
		.change-btn{
			&:hover{
				cursor: pointer;
			}
		}
		.product-title{

		}
		.product-weight{
			color: darken($tcolor, 40%);
		}
		.single-product{
			border-bottom: 1px solid lighten($tcolor, 60%);
			&:nth-child(odd){
				background-color: darken(white, 5%);
			}
		}
	}
}
.purchase-btn{
	.pcount{
		@extend %count;
		background-color: lighten($baseColor, 10%);
	}
}
.form-header{
	// background-color: lighten($tcolor, 70%);
}
.progress-indicator{
	max-width: 350px;
	position: relative;
	margin: 0 auto;
	.point{
		width: 30px;
		height: 30px;
		position: relative;
		background-color: lighten($tcolor, 60%);
		border-radius: 50%;
		margin: 0 auto;
		&:after{
			content: '';
			width: 15px;
			height: 15px;
			background-color: $baseColor;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 25;
			@include vendorPrefix(transform, translate(-50%, -50%));
		}
	}
	.progress-bar{
		position: absolute;
		background-color: lighten($tcolor, 60%);
		height: 20px;
		width: 80%;
		left: 37px;
		top: 5px;
		&:after{
			position: absolute;
			content: "";
			width: 50%;
			top: 50%;
			background-color: $baseColor;
			height: 5px;
			z-index: 9;
			@include vendorPrefix(transform, translateY(-50%));
		}
	}
}
.form-body{
	background-color: lighten($tcolor, 75%);
}

.form-input{
	position: relative;
	&.required{
		&:after{
			position: absolute;
			content: "*";
			color: $red;
			font-size: 14px;
			right: -5px;
			top: 50%;
			@include vendorPrefix(transform, translateY(-50%));
		}
	}
}

.form-controls{
	border: 1px solid lighten($baseColor, 30%);
	width: 100%;
	padding: 20px 15px;
}

textarea.form-controls{
	min-height: 150px;
}
.require-info{
	color: $baseColor;
}

.suggestion{
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
	opacity: 0;
	pointer-events: none;
	@include transition();
	z-index: 999;
	a{
		&:hover{
			text-decoration: none;
			.product-suggestion-list{
				background-color: darken(white, 7%);
			}
		}
		.product-suggestion-list{
			@include transition();
			border-bottom: 1px solid lighten($tcolor, 60%);
			background-color: darken(white, 5%);
			&:last-child{
				border-bottom: 0px;
			}
		}
		&:nth-child(even){
			.product-suggestion-list{
				background-color: white;
			}
		}

	}
	position: absolute;
	width: 100%;
	top: 100%;
	border: 1px solid lighten($tcolor, 60%);
	.ptitle{
		color: $tcolor;
	}
	.suggest-image{
		width: 50px;
		height: 40px;
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}